<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="sidenav">
      <img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo"></img>
      <a href="/employee" class="navitem"><img src="{{ url_for('static', filename = 'images/user.png') }}" class="image"/><b class="navtext">Employees</b> </a>
      <a href="/department" class="navitem"><img src="{{ url_for('static', filename = 'images/department.png') }}" class="image"/><b class="navtext">Departments</b></a>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
